body {
  font-size: 16px;
  font-family: sans-serif;
  margin:0;
  padding:0;
}
.button_wrapper{
  display:flex;
  justify-content: center;
  margin-top: 50px;
}
button{
  border:1px solid #ddd;
  background: #fff;
  cursor: pointer;
  padding: 5px 20px;
  outline: none;
}
button:hover{
  background:blue;
  color:#fff;
}
.tweet {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 16px;
  padding: 16px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  max-width: 700px;
}

.tweet-avatar {
  max-width: 60px;
  border-radius: 4px;
}

.tweet-body {
  margin-left: 16px;
}

.tweet-author {
  display: block;
  font-weight: bold;
  text-decoration: none;
}

.tweet-text {
  font-size: 22px;
  font-weight: lighter;
  margin-top: 8px;
  margin-bottom: 8px;
}

.tweet-image {
  max-height: 200px;
  max-width: 100%;
}

.tweet-stats {
  margin-top: 8px;
  font-size: 20px;
  display: flex;
}

.tweet-likes {
  cursor: pointer;
  color: grey;
  margin-left: 24px;
}

.tweet-likes:hover {
  color: red;
}

.tweet-retweets {
  cursor: pointer;
  color: grey;
}

.tweet-retweets:hover {
  color: green;
}

.tweet-stat-icon {
  margin-right: 8px;
}

